body{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

/*===================== HEADER*/

#header{
position: fixed;
top: 0px;
left: 0px;
z-index: 500;
width: 100%;
height: 80px;
}

#header img{
    display:block;
    margin:auto;
    height: 70%;
    width: 10%;
    padding-top: 0px;
}

/*===================== TOP TABS*/

#top-tabs{
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 500;
    width:100%;
    height: 40px;
    background-color: grey;
}

#top-tabs a{
    float: left;
    display: block;
    width: 25%;
    height: 35px;
    font-weight: 700;
    color:white;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}

/*======================= MAIN-HOME*/

#main-home{
    margin-top:120px;
    width:100%;
}

/*======================= BOTTOM-TABS*/

#bottom-tabs{
position: fixed;
bottom: 0;
left: 0;
z-index: 500;
width: 100%;
height: 40px;
background-color: grey;
}

#bottom-tabs a{
float: left;
display: block;
width: 50%;
height: 35px;
font-weight: 700;
color: white;
text-align: center;
text-decoration: none;
padding-top: 12px;
}

/*======================= MAIN*/
#main{
    margin-top:120px;
    width:100%;
}
